html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner > main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::after{
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.btn-maxco-blue{
  border-radius: 0px;background-color: #017dc7 !important;
}

.borderradius-0{
  border-radius: 0px;
}

.cardOpenAccountLive{
  min-height: 1950px !important;
}

.form-validate{
  padding:0px 22px;
}

.tab-content , .step-content{
  height: 100% !important;
}

.form-footer-wizard{
  margin-bottom:23px;
}

.select-currency{
  min-width: 80px !important;
}

.sw-main.sw-theme-check>ul.step-anchor:before, .sw-main.sw-theme-dots>ul.step-anchor:before{
  margin-top:4px;
}

/* .error{
  top: 33px;
  position: absolute;
  color: red;
  opacity: 2;
  background: rgb(255, 255, 255);
  left: 0.75rem;
} */

.required:after { 
  content:" *";
  vertical-align: super; font-size: small;
  color: red;
}

.error{
  color: red;
}

.ml-15{
  margin-left: 15px!important;
}

.hidden{
  display: none;
}

.loader {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color:#017dc7;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  /* left: calc(50% - 15px);
  top: calc(50% - 15px); */
  position: relative;
    z-index: 1;
    margin-left: -29px;
    margin-bottom: -3px;
}

.loader-small {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color:#017dc7;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  /* left: calc(50% - 15px);
  top: calc(50% - 15px); */
  position: fixed;
  z-index: 1; 
}

.no-padding{
  padding:0px !important;
}

.highlight{
    padding: 5px !important;
    background-color: white;
    border-color: white;
    color: #d71a21;
}

.prev-btn{
  margin-right: 10px;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
